*:focus {
    outline: none;
}

.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.sidebar-container {
    height: 100vh;
    min-width: 330px;
    max-width: 330px;
    background-color: #F5F8FD;
    display: flex;
    flex-direction: column;
}

.sidebar-logo {
    font-size: 32px;
    font-weight: bold;
    padding: 1rem;
}

.sidebar-search-container {
    padding: 1rem;
    padding-right: 1rem;
    display: flex;
}

.sidebar-search-input {
    border-radius: 10px;
    border: 1px solid gray;
    background-color: transparent;
    padding: 0.4rem;
    width: 100%;
}

.version-label-container {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.sidebar-label {
    font-size: 12px;
    font-weight: bold;
    padding-left: 1rem;
    padding-top: 1rem;
}

.sidebar-button {
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    cursor: pointer;
    word-wrap: break-word;
}

.sidebar-button:hover {
    font-weight: bold;
}

.selected {
    background-color: #7ac5ff;
}

.live-version {
    background-color: #4CD964;
}

.config-container {
    padding: 1rem;
}

.label-title {
    font-size: 18px;
}

.config-value {
    border-radius: 10px;
    padding: 1rem;
    max-height: 1000px;
}

.option-live {
    background-color: rgb(122, 206, 122) !important;
}

.option-not-live {
    background-color: white;
}

.versions-select {
    padding: 0.4rem;
    border: 1px solid black;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-button {
    border: 1px solid black;
    cursor: pointer;
    font-size: 14px;
    padding: 0.4rem;
    background-color: transparent;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.header-button:hover {
    background-color: #F5F8FD;
}

.keys-title {
    padding-left: 0.3rem;
}

.keys-output {
    padding: 0.5rem;
    word-wrap: break-word;
}